html {
    font-family: 'Muli', sans-serif;
}

.title {
    font-size: 40px;
    font-weight: 600;
    padding-top: 2rem;
}

.intro {
  font-size:18px;
  line-height: 1.2;
  padding-top: 6rem;
  padding-bottom: 4rem;  
  padding-right: 2rem;
}

.container{
 padding-left: 2rem;
}

.button { 
font-family: 'Muli', sans-serif;
background-color: #260E05;
color:#FFFFFF;
font-size: 18px;
height:3rem;
padding: 14px 40px;
text-align: center;
text-decoration:none;
border: none;
border-radius:20px;
-webkit-transition-duration: 0.4s; /* Safari */
transition-duration: 0.4s;
-webkit-box-shadow: 13px 14px 38px -17px rgba(0,0,0,0.75);
-moz-box-shadow: 13px 14px 38px -17px rgba(0,0,0,0.75);
box-shadow: 13px 14px 38px -17px rgba(0,0,0,0.75);

}

.button:hover {
background-color: #FFD5C2; 
color: #260E05;
}

.column2{
  background-color: #F9DC5C;

}

a:link, a:visited {
  color:#260E05;
  text-decoration: underline;
  font-size: 40px;
  font-weight: 600; 
  border:none;
-webkit-transition-duration: 0.4s; /* Safari */
transition-duration: 0.4s;
}

a:hover{
    color:#FFFFFF;
}

.container2{
   padding-left:2rem;
   padding-top:30rem;
}

.columns{
    margin:0;
    padding:0;
    height:100vh;
}
